#book-card {
	transform: perspective(2000px);
	transform-style: preserve-3d;
	transform-origin: left;
	transition: all 0.7s ease;
	box-shadow:
		0 20px 25px -5px rgb(0 0 0 / 0.3),
		0 8px 10px -6px rgb(0 0 0 / 0.3),
		inset 300px 0 50px rgba(0, 0, 0, 0.4);
}
#book-card.open {
	transform: perspective(2000px) rotateY(-25deg) translateX(55%);
	box-shadow:
		0 20px 25px -5px rgb(0 0 0 / 0.3),
		0 8px 10px -6px rgb(0 0 0 / 0.3),
		inset 10px 0 50px rgba(0, 0, 0, 0.4);
}

#book-cover {
	transform-origin: left;
	transform-style: preserve-3d;
	transition: all 0.7s ease;
}

#book-card.open #book-cover {
	transform: rotateY(-135deg);
	box-shadow:
		10px 20px 25px -5px rgb(0 0 0 / 0.3),
		0 8px 10px -6px rgb(0 0 0 / 0.3);
}

#book-cover #cover-front {
	backface-visibility: hidden;
	transform: rotateY(0deg);
}

#book-cover #cover-back {
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background-color: #fafaf9;
	box-shadow:
		0 20px 25px -5px rgb(0 0 0 / 0.3),
		0 8px 10px -6px rgb(0 0 0 / 0.3),
		inset 10px 0 50px rgba(0, 0, 0, 0.4);
}

#cover-inner {
	border: 5px dashed rgb(163, 99, 155);
	color: rgb(163, 99, 155);
}
